/* importing Google fonts */
@import url('https://fonts.googleapis.com/css?family=Fenix&family=Poppins:wght@100; 200; 300; 400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Triangles&display=swap');

:root {
    --main-color: #c7a17a;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Fenix', serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    height: 3000px;
}

/* header Section Design */
.logo a {
    color: #fff;
    text-decoration: none;
    cursor: not-allowed;
    font-family: 'Rubik Doodle Triangles';
    font-size: 1.8rem;

}

.info {
    background: #000;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    font-size: 14px;
    border-bottom: 1px solid #333;
}

.info .info-left {
    display: flex;
}

.info-left section:first-child {
    margin-right: 20px;
}

.info-right {
    display: flex;
    align-items: center;
}

.info-right .social {
    margin-right: 20px;
}

.info-right .social a {
    margin: 0px 5px;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s ease-in-out;
}

.info-right .social a:hover {
    color: var(--main-color);
}

.info-right .info-link a {
    display: inline-block;
    color: #FFF;
    text-transform: capitalize;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    transition: .4s ease-in-out;
    padding: 7px 12px;
    border-radius: 5px;
}

.info-link a:hover {
    border-color: #333;
    background: transparent;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background: #000;
    z-index: 111;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    color: #FFF;
    transition: .4s ease-in-out;
    margin: 0px 10px;
    position: relative;
}

header nav a:hover {
    color: var(--main-color);
    text-decoration: none;
}

/* Header Section Design End */
.home-section {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0.5861695019804797) 47%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 1) 100%), url(images/coffe-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    position: relative;
}

.home-content {
    position: absolute;
    left: 50px;
    color: #FFF;
    transition: .5s ease-in-out;
}

.home-content h1 {
    font-size: 3.5rem;
}

.home-content p {
    font-size: 14px;
    color: #f9f9f9;
}

.home-content .home-links {
    display: flex;
    margin-top: 30px;
}

.home-links a {
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
    background: var(--main-color);
    display: inline-block;
    padding: 11px 20px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    transition: .4s ease-in-out;
}

.home-links .first {
    margin-right: 20px;
}

.home-links .second a {
    background: transparent;
    border: 1px solid #333;
}

.home-links .first a:hover {
    background: transparent;
    color: var(--main-color);
}

.home-links .second a:hover {
    background-color: var(--main-color);
    color: #fff;
}

/* Home Section Design End */