/* importing Google fonts */
@import url('https://fonts.googleapis.com/css?family=Fenix&family=Poppins:wght@100; 200; 300; 400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Triangles&display=swap');

:root {
    --main-color: #c7a17a;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Fenix', serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    height: 3000px;
}

/* header Section Design */
.logo a {
    color: #fff;
    text-decoration: none;
    cursor: not-allowed;
    font-family: 'Rubik Doodle Triangles';
    font-size: 1.8rem;

}

.info {
    background: #000;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    font-size: 14px;
    border-bottom: 1px solid #333;
}

.info .info-left {
    display: flex;
}

.info-left section:first-child {
    margin-right: 20px;
}

.info-right {
    display: flex;
    align-items: center;
}

.info-right .social {
    margin-right: 20px;
}

.info-right .social a {
    margin: 0px 5px;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s ease-in-out;
}

.info-right .social a:hover {
    color: var(--main-color);
}

.info-right .info-link a {
    display: inline-block;
    color: #FFF;
    text-transform: capitalize;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    transition: .4s ease-in-out;
    padding: 7px 12px;
    border-radius: 5px;
}

.info-link a:hover {
    border-color: #333;
    background: transparent;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background: #000;
    z-index: 111;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    color: #FFF;
    transition: .4s ease-in-out;
    margin: 0px 10px;
    position: relative;
}

header nav a:hover {
    color: var(--main-color);
    text-decoration: none;
}

/* Header Section Design End */
.home-section {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0.5861695019804797) 47%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 1) 100%), url(images/coffe-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    position: relative;
}

.home-content {
    position: absolute;
    left: 50px;
    color: #FFF;
    transition: .5s ease-in-out;
}

.home-content h1 {
    font-size: 3.5rem;
}

.home-content p {
    font-size: 14px;
    color: #f9f9f9;
}

.home-content .home-links {
    display: flex;
    margin-top: 30px;
}

.home-links a {
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
    background: var(--main-color);
    display: inline-block;
    padding: 11px 20px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    transition: .4s ease-in-out;
}

.home-links .first {
    margin-right: 20px;
}

.home-links .second a {
    background: transparent;
    border: 1px solid #333;
}

.home-links .first a:hover {
    background: transparent;
    color: var(--main-color);
}

.home-links .second a:hover {
    background-color: var(--main-color);
    color: #fff;
}

/* Home Section Design End */

.bg-shop {
    width: 90%;
    margin: 100px auto;
}

.bg-shop .shop-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    color: #FFF;
}

.shop-links h2 {
    text-transform: capitalize;
    font-family: 'Pushster', cursive;
}

.shop-links .links {
    display: flex;
    align-items: center;
}

.shop-links .links li {
    margin-left: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4 ease-in-out;
}

.shop-links .links li:hover {
    color: var(--main-color);
}

.bg-shop .shop-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    grid-row-gap: 20px;
}

.shop-flex .shop1 {
    width: 24%;
    color: #fff;
    margin-bottom: 30px;
}

.shop1 .shop-image {
    position: relative;
    overflow: hidden;
    background: #212529;
    padding: 50px 20px;
    margin-bottom: 20px;
    width: 80%;
}

.shop-image img {
    width: 90%;
    margin-left: 10px;
    justify-content: center;
    display: flex;

}

.stars {
    color: white;
    width: 100%;
}

.shop-image .price {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid var(--main-color);
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold;
}

.shop-image .social {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
}

.shop-image .social a {
    text-decoration: none;
    color: #FFf;
    font-size: 10px;
    border: 1px solid #fff;
    padding: 3px 5px;
}

.shop-image .social a:hover {
    border-color: var(--main-color);
    color: var(--main-color);
}

.shop-image:hover .social {
    animation: animatel .6s ease-in-out forwards;
}

.shop-image .social {
    animation: animate2 .6 ease-in-out;
}

@keyframes animatel {
    0% {
        opacity: 0;
        bottom: -100px;
    }

    100% {
        opacity: 1;
        bottom: 30px;
    }
}

@keyframes animate2 {
    0% {
        opacity: 0;
        bottom: -100px;
    }

    100% {
        opacity: 1;
        bottom: 30px;
    }
}

.shop1 h2 {
    text-transform: capitalize;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.shop1 .gold {
    color: gold;
}

.shop1 .stars {
    margin-bottom: 10px;
}

.shop1 .stars i {
    margin: 0 -2px;
    font-size: 12px;
}

.shop1 article {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
}

.shop1 span {
    text-decoration: line-through;
    color: #555;
}


.bg-menu {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0.5861695019804797) 47%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 1) 100%), url(images/bac-1.jpg);
    /* background: url(images/bac-1.jpg) no-repeat; */
    background-size: cover;
    padding: 50px 0px;
    background-position: center;
}

.menu-title {
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
}

.menu-title section {
    text-transform: uppercase;
    font-size: 15px;
    color: var(--main-color);
}

.menu-title h2 {
    text-transform: capitalize;
    font-size: 2.8rem;
    font-weight: 400;
    margin-top: 4px;
    font-family: 'Rubik Doodle Triangles', cursive;
}

.menu-title hr {
    margin: 15px auto;
    width: 150px;
    background: var(--main-color);
}

.menu-flex {
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-flex .menu1 {
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    margin-bottom: 20px;
}

.menu1 img {
    width: 100px;
    margin-right: 10px;
}

.menu1 h4 {
    text-transform: capitalize;
    letter-spacing: -1px;
}

.menu1 .line {
    margin-top: 10px;
    border-top: 1px dotted var(--main-color);
    width: 52%;
}

.menu-link {
    text-align: center;
    margin: 30px 20px;
    /* margin-bottom: 50px; */
}

.menu-link a {
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    color: #fff;
    background: var(--main-color);
    padding: 10px 18px;
    transition: .4s ease-in-out;
    border: 1px solid var(--main-color);
}

.menu-link a:hover {
    background: transparent;
}

.footer {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0.5861695019804797) 47%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 47%, rgba(0, 0, 0, 1) 100%), url(images/footer-baner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 100px 0px;
    margin: 100px 0;
}

.footer .footer-flex {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-flex .footer1 {
    width: 32%;
    color: #FFF;
}

.footer1 img {
    margin-bottom: 20px;
}

.footer1 section {
    font-size: 13px;
    margin-bottom: 20px;
}

.footer1 .footer-links a {
    text-decoration: none;
    color: #FFF;
    margin: 0 8px;
    font-size: 14px;
    display: inline-block;
    transition: .4s ease-in-out;
}

.footer-links a:hover {
    color: var(--main-color);
}

.footer1 h3 {
    text-transform: capitalize;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 50px;
    display: inline-block;
}

.footer1 .location {
    margin-left: 30px;
    margin-bottom: 20px;
}

location span {
    margin-left: -30px;
    display: inline-block;
    margin-right: 13px;
}

.location a {
    text-decoration: none;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 5px;
    display: inline-block;
}

.location section {
    margin-bottom: 4px;
}

.footer1 form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    line-height: 52px;
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
}

.footer1 form input {
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 13px;
    color: var(--main-color);
    width: 75%;
}

.footer1 form a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    color: #FFF;
    background: var(--main-color);
    width: 25%;
    text-align: center;
}